; {{ ansible_managed }}
memory_limit = {{ php_memory_limit }}
max_execution_time = 300
max_input_vars = 10000
post_max_size = 100M
upload_max_filesize = 100M
mail.log='/app/logs/mail.log'
error_log='/app/logs/debug.log'
{% if 'msmtp' in stack %}
sendmail_path=/usr/bin/msmtp -t
{% endif %}
