# 404
error_page 404 /custom_404.html;
location = /custom_404.html {
  root /usr/share/nginx/html;
  internal;
}

# 413
error_page 413 /custom_413.html;
location = /custom_413.html {
  root /usr/share/nginx/html;
  internal;
}

# 502
error_page 502 /custom_502.html;
location = /custom_502.html {
  root /usr/share/nginx/html;
  internal;
}

# 503
error_page 503 /custom_503.html;
location = /custom_503.html {
  root /usr/share/nginx/html;
  internal;
}

# 504
error_page 504 /custom_504.html;
location = /custom_504.html {
  root /usr/share/nginx/html;
  internal;
}
